<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

<form class="form-horizontal"  th:action="@{/create}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
</form>


<!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th scope="col">id</th>-->
        <!--<th scope="col">firstName</th>-->
        <!--<th scope="col">lastName</th>-->
        <!--<th scope="col">birth</th>-->
        <!--<th scope="col">email</th>-->
        <!--<th scope="col">phoneNumber</th>-->
        <!--<th scope="col">Action</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr th:each="user: ${users}">-->
            <!--<th th:text="${user.userId}" scope="row"></th>-->
        <!--<td th:text="${user.firstName}"></td>-->
        <!--<td th:text="${user.lastName}"></td>-->
        <!--<td th:text="${user.birth}"></td>-->
        <!--<td th:text="${user.email}"></td>-->
        <!--<td th:text="${user.phoneNumber}"></td>-->
        <!--<td>-->
            <!--<input type="button"-->
                   <!--class="btn-warning w-100"-->
                   <!--data-toggle="modal" data-target="#update_${user.userId}" value="Update User">-->
            <!--<form action="/user" method="POST">-->
                <!--<input type="hidden" name="actionName" value="deleteUser">-->
                <!--<input type="hidden" name="id" th:value=${user.userId}>-->
                <!--<input class="bg-danger text-white" type="submit" value="Delete User">-->
            <!--</form>-->
            <!--<a th:href="@{http://localhost:8080/user/{id}(id=${user.userId})}">Details</a>-->
        <!--</td>-->

        <!--&lt;!&ndash; Modal Update&ndash;&gt;-->
        <!--<div class="modal fade" id="update_${user.userId}" tabindex="-1" role="dialog"-->
             <!--aria-hidden="true">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<form name="users__${user.userId}">-->

                        <!--<div class="modal-header">-->
                            <!--<h5 class="modal-title">Update User</h5>-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="modal-body">-->

                            <!--<div class="form-group">-->
                                <!--<label for="${user.firstName}">First Name</label>-->
                                <!--<input type="text" class="form-control" id="${user.firstName}"-->
                                       <!--name="firstName" placeholder="name" value="${user.firstName}">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="${user.lastName}">Last Name</label>-->
                                <!--<input type="text" class="form-control" id="${user.lastName}" name="lastName"-->
                                       <!--placeholder="lastName" value="${user.lastName}">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="${user.birth}">Date of Birth</label>-->
                                <!--<input type="text" class="form-control" id="${user.birth}" name="birth"-->
                                       <!--placeholder="dd.mm.yyyy" value="${user.birth}">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="${user.email}">Email</label>-->
                                <!--<input type="email" class="form-control" id="${user.email}" name="email"-->
                                       <!--placeholder="email" value="${user.email}">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="${user.phoneNumber}">Phone Number</label>-->
                                <!--<input type="text" class="form-control" id="${user.phoneNumber}" name="phone"-->
                                       <!--placeholder="+380123456789" value="${user.phoneNumber}">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="modal-footer">-->
                            <!--<input type="hidden" name="id" value="${user.userId}">-->
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
                            <!--<button id="button_${user.userId}" type="button" class="btn btn-success">Update-->
                                <!--User-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->


</body>
</html>