<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>UserStore</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">birth</th>
        <th scope="col">email</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <th th:text="${user.id}" scope="row"></th>
        <td th:text="${user.name}"></td>
        <td th:text="${user.birth}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <button
                    class="btn btn-warning text-white w-50"
                    data-toggle="modal" th:data-target="'#update_'+${user.id}">
                Update User
            </button>
            <form th:action="@{/user/{id}/delete(id=${user.id})}" th:object="${user}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="btn btn-danger text-white w-50" type="submit">Delete User</button>
            </form>
            <a th:href="@{http://localhost:8080/user/{id}(id=${user.id})}">Details</a>
        </td>

        <!-- Modal Update-->
        <div class="modal fade" th:id="update_+${user.id}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form th:action="@{/user/{id}/update(id=${user.id})}" th:object="${user}" method="post"
                          th:name="users__+${user.id}">

                        <div class="modal-header">
                            <h5 class="modal-title">Update User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label th:for="${user.name}">First Name</label>
                                <input type="text" class="form-control" th:id="${user.name}"
                                       name="name" placeholder="name" th:value="${user.name}">
                            </div>
                            <div class="form-group">
                                <label th:for="${user.birth}">Date of Birth</label>
                                <input type="text" class="form-control" th:id="${user.birth}" name="birth"
                                       placeholder="dd.mm.yyyy" th:value="${user.birth}">
                            </div>
                            <div class="form-group">
                                <label th:for="${user.email}">Email</label>
                                <input type="email" class="form-control" th:id="${user.email}" name="email"
                                       placeholder="email" th:value="${user.email}">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="hidden" name="_method" value="put">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button th:id="button_+${user.id}" type="submit" class="btn btn-success">Update
                                User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </tr>
    </tbody>

    <button class="btn btn-primary" data-toggle="modal" data-target="#add_addUser">
        Add User
    </button>

    <!-- Modal Add-->
    <div class="modal fade" id="add_addUser" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/user" method="post">

                    <div class="modal-header">
                        <h5 class="modal-title">Update User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name"
                                   name="name" placeholder="name" >
                        </div>
                        <div class="form-group">
                            <label for="birth">Date of Birth</label>
                            <input type="text" class="form-control" id="birth" name="birth"
                                   placeholder="dd.mm.yyyy" >
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="email" >
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" name="_method" value="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="button_add" type="submit" class="btn btn-success">
                            Add User
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</table>


</body>
</html>